<h1>My first ruby on rails app inside index html</h1>

<a href= "/demo/hello"> Link to Hello Page</a><br>

<%= link_to('Other Hello Page that takes you to home page', {:action => 'other_hello'})%>
<br>
<%= link_to('Link to Hello page with parameters', {:action => 'hello', :page => 5, :id => 20, :name => 'toyin'})%>
